.App-container {
    max-width: 960px;
}

.Content {
    background-color: #282c34f5;
    padding-left: 30px;
    padding-top: 50px;
}

.Navbar {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
}

.Navbrand-img {
    max-width: 20%;
    float: left;
}

.Sidebar {
    background-color: #282c34fd;
    font-size: calc(6px + 2vmin);
    height: 591px;
    padding-left: 30px;
    padding-top: 50px;
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: hidden;
}