.App-container {
    max-width: 75vw;
    overflow: hidden;
}

.Content {
    background-color: #282c34f5;
    padding-left: 30px;
    padding-top: 50px;
    overflow-x: auto;
    overflow-y: auto;
}

.Navbar {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
}

.Navbrand-img {
    max-width: 20%;
    float: left;
}

.Sidebar {
    background-color: #282c34fd;
    font-size: calc(6px + 2vmin);
    padding-left: 30px;
    padding-top: 50px;
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 590px;
}