<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.tasker.backend.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/tasker/backend/dao/UserDao.xml"/>
        <mapper resource="com/tasker/backend/dao/UserListDao.xml"/>
        <mapper resource="com/tasker/backend/dao/UserTaskDao.xml"/>
    </mappers>
</configuration>