.List-header {
    margin-bottom: 0px;
}

.Align-right {
    float: right;
}

.List-menu {
    margin-bottom: 0rem;
    border-collapse: initial;
}

.Modal-header {
    margin-bottom: 20px;
}

.Modal-footer {
    padding-bottom: 30px;
}

.Task-menu-table {
    size: 20px;
}

.Table-data {
    padding: 1rem .75rem .75rem 0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(222, 226, 230);
}

.Table-spacing {
    margin-bottom: 0rem;
}

tr.Child-row td{
    padding-left: 50px;
}

tr.List-row td {
    border-top: none;
    padding: 0;
}